%h1 Expand your Twitter reach through mass retweets #{configatron.twitter_allow_user_follow ? 'and followings' : ''} by joining #{configatron.site_name}.
%p.button
  %a.button{:href => "/connect"} Connect to Twitter now!
%p.small Connect your Twitter account and earn the chance to increase your tweet broadcast through retweets #{configatron.twitter_allow_user_follow ? 'and follows' : ''} by other #{configatron.site_name} users.
%p.small
  %em Winners chosen infrequently. Odds of winning: unknown.