%h1 Spread your internet famo by connecting your Twitter account to the #{configatron.site_name} flock.
%p.button
  %a.button{:href => "/connect"} Connect to Twitter now!
%p.small Connect your Twitter account with #{configatron.site_name} and enter your chance to have one of your tweets sent out to the rest of the #{configatron.site_name} users. Winners chosen infrequently.